[database]
# Live mwa metadata database (MRO)
host=localhost
port=5432
db=test
user=postgres
pass=

[acacia]
aws_access_key_id=testing
aws_secret_access_key=testing
endpoint_url=https://ingest.pawsey.org.au

[banksia]
aws_access_key_id=testing
aws_secret_access_key=testing
endpoint_url=https://vss-1.pawsey.org.au