[mro_metadata_db]
# Live mwa metadata database (MRO)
host=
port=
db=
user=
pass=

[ngas_db]
# Pawsey Archive ngas database details
host=
port=
db=
user=
pass=

[staging]
# Host and port of the mwadmget daemon
dmget_host=
dmget_port=
retry_attempts=
backoff_seconds=

[processing]
implements_per_item_processing=
concurrent_observations=
concurrent_items=
# log_level can be INFO | DEBUG
log_level=
log_dir=
# Root path. Each observation will have a subdirectory here while we work on it
working_path=

[web_service]
# Web server will listen on this port for commands
port=