[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "*"
psycopg_pool = "*"
boto3 = "*"
astropy = "*"
moto = "*"
responses = "*"

[dev-packages]
pytest = "*"
pytest-postgresql = "*"

[requires]
python_version = "3.10"
